html{
    height : 100%;
}
body {
    height : 100%;
    margin : 0;
    color : white;
    text-align: center;
}
.header {
    /* color : red; */
    height : 20%;
    /* margin-top: 0%; */
    background-color: hotpink;
}
h2 {
    margin: 0;
}
.content {
    height : 60%;
    background: lightpink;
    font-size : 30px;
}
.footer {
    /* color : red; */
    height : 20%;
    /* margin-bottom: 0%; */
    background-color: hotpink;
}